.idea/
target
*.iml
*.pyc
tags
viminfo
cscope*
*.swp
*.LOG
Session.vim
session.vim
*.jar
*.log
*.plugin
hsf.configuration
*hsf.sar
*.class
.sconsign.dblite
*.o
.fuse_hidden*
*.obj
Debug*/
Release*/
*.exe
*.res
*.manifest
*vcproj.*.user
*.ncb
*.suo
.ycm_extra_conf.py
