[user]
	name = afterain
	email = alaafterain@gmail.com
	emial = alaafterain@gmail.com
[alias]
st = status
co = checkout
cm = commit
ci = commit
[color]
status = auto
branch = auto
ui = auto
[core]
excludesfile = ~/.gitignore
